<div class="container-fluid">
  <div class="modal-header">
 <h2>|Pure vs Impure Pipe</h2>
  </div>
  <!-- value: {{searchedData}} -->
  <section class="form-group">
  <input type="text" class="form-control" [(ngModel)]="searchedData" placeholder="search">
  </section>
  <div class="float-right">
    <button class="btn btn-sm btn-success" (click)="onAdd()">+</button>
  </div>
  <div class="list-group">
  <li class="list-group-item" *ngFor="let f of foodItems
  | filter:searchedData">
    {{f.food}}
    <span class="badge badge-pills badge-danger float-right">{{f.price|currency:'INR'}}</span>
  </li>
  </div>
</div>
<!-- ng g p cube -->
