<div class=" outer-con">
  <div class="inner-con">
      <!--upper Section start-->
     <div class="upperCon le-ri-pad pt-05 ">
      <div class="d-flex flex-md-row align-items-md-center justify-content-md-between flex-sm-column flex-column justify-content-center align-items-center">
          <div><img src="assets/img/form_logo.png" alt="PMIT Group of Colleges" class="formLogo"></div>
          <div><img src="assets/img/logo_text.png" alt="PMIT Group of Colleges" class="logotext"></div>

      </div>
      <div class="d-flex align-items-md-center justify-content-md-center"><h2 class="headBg" >Student Application Form</h2></div>
     
     </div>
      <!--upper Section end-->

       <!--Lower Section start-->
      <div class="lowerCon le-ri-pad ">
          <div class="lowerCon_top">
              <div class="lowertopCon">    
              <div class="imgupCon order-sm-1 order-2 ">
                  <div class="imgUpload">
                      <div class="proImg" >
                          <i class="fas fa-camera camera "></i>
                          <p class="cam">Upload Photo</p>
                          
                         
                      </div>
                      <button type="button" class="upBtn"><i class="fas fa-upload"></i> Upload</button>
                  </div>
              </div>
              <div class="imgupConRight order-sm-2 order-1 ">
                      <!-- lebel Start -->

                  <div class="w-100 d-flex justify-content-sm-end justify-content-center ">
                      <div class="justify-content-top d-flex flex-column">
                          <span class="toplabel active">PERSONAL <br>DETAILS<span class="nom"></span>1</span> 
                      </div>
                      <div class="justify-content-top d-flex flex-column">
                          <span class="toplabel assle">ACADEMIC
                               <br>DETAILS<span class="nom" ></span>2</span> 
                      </div>
                  </div>

              <!-- lebel End -->
              <!-- profile Start -->
                  <div class="mobile-text-center ">
                      <h2 class="title">Sudip Saha</h2>
                      <div class="d-flex">
                          <ul class="list-unstyled list-inline bText">
                              <li class="list-inline-item "><span class="fw-bold skyText">M</span> :   +91 9836526475</li>
                              <li class="list-inline-item"><span  class="fw-bold greenText">W</span> : +91 9836526475</li>
                              <li class="list-inline-item"><span  class="fw-bold orgText">E</span> :  pritam@pmitcolleges.org</li>
                          </ul>
                      </div>
                      <div class="d-flex dot"></div>
                      <div class="d-flex justify-content-sm-start justify-content-center">
                          <div class="topl yBg" >
                              <div class="iBg">
                                  <i class="fas fa-school"></i>

                              </div>
                              <span class="paddingX">PMIT COLLEGE OF PHARMACY</span>
                          </div>
                      </div>
                      <div class="d-flex justify-content-sm-start justify-content-center mt-2">
                          <div class="topl sBg" >
                              <div class="iBg">
                                  <i class="fas fa-book-open"></i>
                              </div>
                              <span class="paddingX">D. PHARMA</span>
                          </div>
                      </div>
                  </div>
                  <!-- profile End -->
              </div>
          </div>
      </div>

      <!-- Form sec start-->
      <div class=" ">
          <div class="d-flex w-100 graBar">
              <p>Please Fill up the data carefully & all the <span class="starText"> *</span> is mandatory field.</p>
          </div>


          <div >
              <form action="">
                  <div class="d-flex flex-md-row flex-column flex-sm-column justify-content-md-between">

                      <!-- right start-->
                      <div class="formLeft">
                        <div class="row mt-2">
                          <div class="col-12 col-md-4">
                          
                              <select class="form-select shodowInput" id="country" required>
                                <option value="">Blood Group</option>
                                <option>Option one</option>
                              </select>
                          </div>
                      </div>

                      <div class="row  mt-3">
                        <div class="col-12 col-md-4 mmt-1">
                            <input type="text" class="form-control shodowInput" id="" placeholder="Father’s Name" required>                
                        </div>
                        <div class="col-12 col-md-4 mmt-1">
                            <input type="text" class="form-control shodowInput" id="" placeholder="Mother’s Name" required>                
                        </div>
                        <div class="col-12 col-md-4 mmt-1">
                            <input type="text" class="form-control shodowInput" id="" placeholder="Guardian’s Name" required>                
                        </div>
                    </div>


                    
                    <div class="row mt-3">
                      <div class="col-12 col-md-7 mmt-1">
                          <textarea type="text" class="form-control shodowInput" placeholder="Permanent Address" rows="5"></textarea>
                      
                      </div>
                      <div class="col-12 col-md-5 ">
                          <div class="row ">
                              <div class="col-12  mmt-1">
                                  <input type="text" class="form-control shodowInput" id="" placeholder="State" required>                
                              </div>
                              <div class="col-12 mt-3 mmt-1">
                                  <div class=" mmt-1">
                                  <input type="text" class="form-control shodowInput" id="" placeholder="District" required> 
                                  </div>               
                              </div>
                          </div>
                          <div class="row  mt-3">
                              <div class="col-12 col-md-6 mmt-1">
                                  <input type="text" class="form-control shodowInput" id="" placeholder="City" required>                
                              </div>
                              <div class="col-12 col-md-6 mmt-1">
                                  <input type="text" class="form-control shodowInput" id="" placeholder="PIN" required>                
                              </div>
                             
                          </div>
                      </div>
                  </div>


                  <div class="row mt-3">
                    <div class="col mmt-1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input shodowInput" id="same-address">
                        <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
                      </div>
                      </div>
                </div>

                <div class="row mt-3  mmt-1">
                  <div class="col-12 col-md-7 mmt-1">
                      <textarea type="text" class="form-control shodowInput" placeholder="Permanent Address"  rows="5"></textarea>
                  
                  </div>
                  <div class="col-12 col-md-5 ">
                      <div class="row ">
                          <div class="col-12  mmt-1">
                              <input type="text" class="form-control shodowInput" id="" placeholder="State" required>                
                          </div>
                          <div class="col-12 mt-3 mmt-1">
                              <div class=" mmt-1">
                              <input type="text" class="form-control shodowInput" id="" placeholder="District" required> 
                          </div>               
                          </div>
                      </div>
                      <div class="row  mt-3">
                          <div class="col-12 col-md-6 mmt-1">
                              <input type="text" class="form-control shodowInput" id="" placeholder="City" required>                
                          </div>
                          <div class="col-12 col-md-6 mmt-1">
                              <input type="text" class="form-control shodowInput" id="" placeholder="PIN" required>                
                          </div>
                         
                      </div>
                  </div>
              </div>

                      </div>
                      <!-- left End-->
                                            <!-- right End-->

                      <!-- left start-->
                      <div class="formRight  mmt-1">
                        <div class="row">
                        <div class="col mmt-1">
                            
                            <select class="form-select shodowInput" id="country" required>
                              <option value="">Category</option>
                              <option>Option one</option>
                            </select>
                        </div>
                        </div>

                        <div class="row mt-1">
                        <div class="col-md-12 col-lg-5 "> <label for="" class="form-label">Level :</label></div>
                        <div class="col-md-12 col-lg-7 ">
                           
                            <div class="form-check">
                                <input id="" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                                <label class="form-check-label" for="credit">Class 12</label>
                              </div>

                              <div class="form-check">
                                <input id="" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                                <label class="form-check-label" for="credit">UG / PG</label>
                              </div>
                        </div>
                     </div>
                     <div class=" mt-1">                          
                     <input type="text" class="form-control shodowInput" id="" placeholder="Last School Name" required>
                        </div>

                        <div class=" mt-3  mmt-1">
                            <div class=" mmt-1"> <input type="text" class="form-control shodowInput" id="" placeholder="Last School Regn. No." required></div>
                           
                        </div>

                        <div class="mt-3">
                            <div class="col-12 mmt-1">
                                <label for="address2" class="form-label">Application Type:</label>
                                <div class="row">
                                <div class="col-12 col-lg-6  ">
                                <div class="form-check">
                                    <input id="" name="" type="radio" class="form-check-input" checked="" required="">
                                    <label class="form-check-label" for="credit">Freshers</label>
                                  </div>
                                  </div>
                                  <div class="col-12 col-lg-6  mmt-1">
                                    <div class="form-check">
                                        <input id="" name="" type="radio" class="form-check-input" checked="" required="">
                                        <label class="form-check-label" for="credit">Deputed</label>
                                      </div>
                                      </div>
                                    </div>

                              </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-5 col-md-9 col-lg-5"> <p>Is PWD ?</p> </div>
                            <div class="col-2 col-md-3 col-lg-2 mt-1"><input type="checkbox" class="form-check-input" id=""></div>
                            <div class="col-5 col-md-12 col-lg-5">
                                <input type="text" class="form-control shodowInput" id="" placeholder="%" required>
                                
                            </div>
                         </div>

                        <div class="mt-3 ">
                            <div class="col  mmt-1">
                            
                                <select class="form-select shodowInput" id="country" required>
                                  <option value="">Blood Group</option>
                                  <option>Option one</option>
                                </select>
                            </div>
                        </div>



                        </div>
                  
                  </div>
                  <div class="">
                      <div class="row  mt-3">
                          <div class="col-12 col-md-3 mmt-1">
                              <div class="input-group has-validation">
                                  <span class="input-group-text spBg">Aadhar No.</span>
                                  <input type="text" class="form-control shodowInput" id="username" placeholder="Username" required="">
                                </div>                
                          </div>
                          <div class="col-12 col-md-3 mmt-1">
                              <div class="input-group has-validation">
                                  <span class="input-group-text spBg">Nationality</span>
                                  <input type="text" class="form-control shodowInput" id="username" placeholder="Username" required="">
                                </div>            
                          </div>
                          <div class="col-12 col-md-3 mmt-1">
                              <select class="form-select shodowInput" id="country" required>
                                  <option value="">Gender</option>
                                  <option>Option one</option>
                                </select>                   
                          </div>
                          <div class="col-12 col-md-3 mmt-1">
                              <input type="text" class="form-control shodowInput" id="" placeholder="Date of Birth" required>                
                          </div>
                      </div>

                      <div class="row  mt-3">
                          <div class="col-12 col-md-4 mmt-1">
                              <input type="text" class="form-control shodowInput" id="" placeholder="Annual Family Income" required>                
                          </div>
                          <div class="col-12 col-md-3 mmt-1">
                              <select class="form-select shodowInput" id="country" required>
                                  <option value="">Marital Status</option>
                                  <option>Option one</option>
                                </select>     
                          </div>
                          <div class="col-12 col-md-5 mmt-1">
                              <div class="input-group">
                                  <input type="text" class="form-control shodowInput" placeholder="Upload Student Signature">
                                  <button type="submit" class="btn btn-secondary btn-secondarybg">Choose File</button>
                                </div>               
                          </div>
                      </div>

                      <div  class="row  mt-5">
                          <div class="col">
                              <button type="button" class="btnSk">NEXT <i class="far fa-arrow-alt-circle-right arrClass"></i></button>
                            
                              </div>

                      </div>
                      
                  </div>
              </form>
              </div>
          </div>

          <div>
              


          </div>


          

     

      <!-- Form sec End-->
      </div>
      <!--Lower Section End-->

  </div>

</div>