<div class="conatainer-fluid">
    <h4>Home Componet</h4>
    <article>
        <section>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam vero eaque hic quisquam expedita impedit ullam accusantium aut, harum architecto! Quidem aut reiciendis molestias ad fugit, sed maxime vitae. Eaque!
        </section>
        <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus cum quis consequuntur sunt! Aspernatur reiciendis facilis obcaecati iste, totam doloribus, corporis, officia ipsa distinctio nam sint consectetur incidunt laboriosam.
        </section>
    </article>
</div>