<div class="conatainer-fluid">
 <div class="row">
  <div class="col-lg-6">
    <header class="modal-header">
      <h1>|Food Items|</h1>
    </header>
   <ul class="list-group" >
    <!-- <li class="list-group-item"
    [ngStyle]="i%2==0 ? {'background-color':'red'}:{'background-color':'green'}"
   
     >{{f.food}}
      <span class="badge badge-pills badge-danger float-right">&#8377;{{f.price}}</span>
    </li> Process 2: Using Class: [class] -->
    <!-- <li class="list-group-item"
    [ngClass]="i%2==0 ? 'x':'y' " 
   
     >{{f.food}}
      <span class="badge badge-pills badge-danger float-right">&#8377;{{f.price}}</span>
    </li> Process 3:Adding Bootstrap Class-->
    <!-- <li class="list-group-item"
    [ngClass]="i%2==0 ? 'list-group-item-success':'list-group-item-danger' " 
   
     >{{f.food}}
      <span class="badge badge-pills badge-danger float-right">&#8377;{{f.price}}</span>
    </li> Proces 4: Using [class.className] -->
    <ng-container *ngIf="searchedFoodList.length!=0 then s else e"></ng-container>
    <ng-template #s>
      <li class="list-group-item" *ngFor="let f of searchedFoodList ;let i=index"
     [class.x]="i%2==0"
     [class.y]="i%2!=0"
     [class.text-white]="true"
     (click)="onSelect(f)"
   
     >{{f.food}}
      <span class="badge badge-pills badge-danger float-right">&#8377;{{f.price}}</span>
    </li>

    </ng-template>
    <ng-template #e>
    <li class="list-group-item" *ngFor="let f of foodItems;let i=index"
     [class.x]="i%2==0"
     [class.y]="i%2!=0"
     [class.text-white]="true"
   
     >{{f.food}}
      <span class="badge badge-pills badge-danger float-right">&#8377;{{f.price}}</span>
    </li>

    </ng-template>


    
   
      
   </ul>
   <section class="form-group" >
    <input type="text" class="form-control" 
    placeholder="Search......." #t1 (keyup)="onSearch(t1)">
    </section>
   



 </div>
  <div class="col-lg-6 border-left" *ngIf="selectedFoodItem!=0">
    <header class="modal-header">
      <h1>|Food Details:{{selectedFoodItem.food}}|</h1>
    </header>
    <table class="table table-hover table-bordered">
      <tr>
        <th>Food:</th>
        <td>{{selectedFoodItem.food}}</td>
      </tr>
      <tr>
        <th>Price:</th>
        <td>{{selectedFoodItem.price}}</td>
      </tr>
    </table>
  </div>
  
 </div>
</div>