<header class="modal-header">
    <h1>| Child[Hello1]Component</h1>
  </header>
  <article>
    <section>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum enim assumenda consectetur voluptatum velit distinctio provident ducimus vitae. Quod vel nobis nemo alias illum placeat iste voluptatem officia velit maiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ex, possimus vel alias porro officiis necessitatibus tenetur ipsam eos quaerat repellat sed deserunt quisquam temporibus minima optio. Unde, in aliquam.
    </section>
  </article>