<header>
  <h1>| Anguler Pipe</h1>
</header>
<h2>Building Pipes</h2>
<h3>Uppercase Pipe</h3>
<p>Uppercase Pipe: {{name|uppercase}}</p>

<h3>Lowercase Pipe</h3>
<p>Lowercase Pipe: {{name|lowercase}}</p>

<h3>Titlecase Pipe</h3>
<p>Titlecase Pipe: {{name|titlecase}}</p>

<h3>Date Pipe</h3>
<p>date Pipe: {{date|date}}</p>

<p>date Pipe: {{date|date: 'shortDate'}}</p>

<h3>Currency Pipe</h3>
<p>Currency Pipe: {{salary|currency:'INR'}}</p>-+

<!-- ng g p cube -->
<h2>Pipe : Cube</h2>
<p>{{2|cube}}</p>



















<h3>Percent Pipe</h3>
<p>Percent Pipe: {{marks|percent}}</p>

<h3>Slice Pipe</h3>
<p>Slice Pipe: {{fruits|slice:1:4}}</p>

<h3>Slice Pipe</h3>
<p>Slice Pipe: {{fruits|json}}</p>